* {
    box-sizing: border-box;
}
html body img {
    max-width: 100%;
}

body {
    background-color: #fafafa;
    margin: 0px;
}

.page-wrapper {
    padding: 20px;
    min-height: 100vh;
    max-height: 100vh;
    display: flex;
}
.wrapper {
    flex: 1;
    overflow: hidden;
}

.header {
    overflow: hidden;
    height: 160px;
    margin-bottom: -160px;
}

.main {
    padding-top: 160px;
    display: flex;
    height: 100%;
}

.sidebar {
    border: 1px solid #dddddd;
    width: 180px;
    pointer-events: none;
}

.right {
    border: 1px solid #dddddd;
    width: calc(100% - 180px);
}
.right-content {
    overflow: auto;
    height: 100%;
    padding: 0px 10px;
}

.md-file:hover {
    background-color: aqua;
    cursor: pointer;
    padding-left: 5px;
}
.md-file {
    pointer-events: auto;
}
